@import "tailwindcss";


@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes pulse {
    0%, 100% { opacity: 1; transform: scale(1); }
    50% { opacity: 0.7; transform: scale(0.95); }
}

.typing-cursor {
    display: inline-block;
    width: 2px;
    height: 14px;
    background: #31b8c6;
    margin-left: 2px;
    vertical-align: middle;
    animation: blink 0.7s infinite;
}